name: "Update arkade-get from latest release"
on:
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v5

      - name: Get latest release tag of arkade
        id: get_arkade_tag
        run: |
          arkade_tag=$(curl --silent "https://api.github.com/repos/alexellis/arkade/releases/latest" | jq -r .tag_name)
          echo "Latest arkade tag: $arkade_tag"
          echo "arkade_tag=$arkade_tag" >> $GITHUB_OUTPUT

      - name: Update arkade-get install.sh with latest arkade tag
        run: sed -i "s/_ARKADE_TAG=\".*\"/_ARKADE_TAG=\"${{ steps.get_arkade_tag.outputs.arkade_tag }}\"/" src/arkade-get/install.sh

      - name: Install arkade from latest tag
        uses: alexellis/arkade-get@master
        with:
          arkade: ${{ steps.get_arkade_tag.outputs.arkade_tag }}

      - name: Update arkade-get options
        run: bash src/arkade-get/scripts/update-options.sh

      - name: Check for changes
        id: changes
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          else
            echo "changed=false" >> $GITHUB_OUTPUT
          fi

      - name: Bump arkade-get feature version if something changed
        if: steps.changes.outputs.changed == 'true'
        run: |
          # Read the current version
          CURRENT_VERSION=$(jq -r '.version' src/arkade-get/devcontainer-feature.json)

          # Increment the version
          IFS='.' read -r major minor patch <<< "$CURRENT_VERSION"
          NEW_VERSION="$major.$minor.$((patch + 1))"

          # Update the JSON file
          sed -i "s/\"version\": \"$CURRENT_VERSION\"/\"version\": \"$NEW_VERSION\"/" src/arkade-get/devcontainer-feature.json
          echo "Bumped arkade-get feature version from $CURRENT_VERSION to $NEW_VERSION"

      - name: Create PR for update
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -e
          echo "Start."
          # Configure git and Push updates
          git config --global user.email github-actions[bot]@users.noreply.github.com
          git config --global user.name github-actions[bot]
          git config pull.rebase false
          branch=automated-arkade-get-update-$GITHUB_RUN_ID
          git checkout -b $branch
          message="Automated update arkade-get ${{ steps.get_arkade_tag.outputs.arkade_tag }}"
          # Add / update and commit
          git add src/arkade-get/
          git commit -m "$message" || export NO_UPDATES=true
          # Push
          if [ "$NO_UPDATES" != "true" ] ; then
              git push origin "$branch"
              gh pr create --title "$message" --body "$message"
          fi
